/*dark-gray color : #404040 & light-blue : #a2eacb */
* {
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  direction: rtl;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 80%;
  display: block;
  margin: auto;
}
.main-container {
  width: 70%;
  display: block;
  margin: auto;
  height: auto;
  overflow: auto;
}
.section-right {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #071e22;
}
.sec-right-row1 {
  width: 80%;
  display: block;
  margin: auto;
  overflow: auto;
  padding-top: 20px;
}
.sec-right-row1 img {
  width: 16vw;
  height: 16vw;
  margin-top: 30px;
  display: block;
  border: 10px solid #d00000;
}
.sec-right-row2 {
  width: 100%;
  height: auto;
}
.sec-right-row2 ul {
  width: 100%;
  margin: 0;
  padding: 10px;
  list-style-type: none;
}
.sec-right-row2 li {
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 40px;
  padding-right: 45px;
}

/* icon part */

#icon-loc {
  background-image: url("../image/icons/icon-s2/place_black_24dp.svg");
}
#icon-call {
  background-image: url("../image/icons/icon-s2/call_black_24dp.svg");
}
#icon-email {
  background-image: url("../image/icons/icon-s2/email_black_24dp.svg");
}
#icon-web {
  background-image: url("../image/icons/icon-s2/web_black_24dp.svg");
}

.section-left {
  width: 100%;
  height: auto;
  background-color: white;
  color: #071e22;
}
.sec-left-head {
  width: 100%;
  height: auto;
  background-color: #d00000;
  overflow: auto;
}
.sec-left-head h1 {
  text-align: center;
  padding: 0;
  color: white;
}
.sec-left-about {
  width: 100%;
  height: auto;
  overflow: auto;
}
.sec-left-about h2 {
  padding-top: 20px;
  color: #d00000;
}
.sec-left-about p {
  font-size: 20px;
  text-align: justify;
  padding: 10px 0;
}
hr {
  width: 80%;
}
.sec-left-skills {
  width: 100%;
  height: auto;
}
.sec-left-skills h2 {
  padding-top: 20px;
  color: #d00000;
}
.div-skills {
  width: 100%;
  height: auto;
  margin-top: 40px;
  padding-bottom: 50px;
}
.skill-items {
  width: 100%;
  background-color: #071e22;
  overflow: auto;
  cursor: pointer;
}
.skill-items p {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.skill-items div {
  background-color: #d00000;
  height: 20px;
  float: left;
  visibility: hidden;
  transition: all 1.5s;
  width: 0;

}
.skill-items:hover .skl-itm-html {
  visibility: visible;
  width: 90%;
}
.skill-items:hover .skl-itm-css {
  visibility: visible;
  width: 70%;
}
.skill-items:hover .skl-itm-javascript {
  visibility: visible;
  width: 10%;
}
.skill-items:hover .skl-itm-react {
  visibility: visible;
  width: 5%;
}
.skill-items:hover .skl-itm-python {
  visibility: visible;
  width: 60%;
}
.skill-items:hover .skl-itm-sass {
  visibility: visible;
  width: 50%;
}
.skill-items:hover .skl-itm-typescript {
  visibility: visible;
  width: 5%;
}
.skill-items:hover .skl-itm-logo {
  visibility: visible;
  width: 60%;
}
.skill-items:hover .skl-itm-uiux {
  visibility: visible;
  width: 40%;
}

@media screen and (max-width: 600px){
  .main-container{
    width: 100%;
  }
  .sec-right-row1 img{
    width: 40vw;
    height: 40vw;
  }
}